[Unit]
Description=Auto push all git repos before shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/git-backup
StandardOutput=append:/var/log/git-backup.log
StandardError=append:/var/log/git-backup.log
TimeoutStartSec=5min

[Install]
WantedBy=halt.target reboot.target shutdown.target
