[Unit]
Description=Auto push all git repos before shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
User=%SYNC_REPOS_USER%
Group=%SYNC_REPOS_GROUP%
ExecStart=/usr/local/bin/sync-repos
StandardOutput=append:/var/log/sync-repos.log
StandardError=append:/var/log/sync-repos.log
TimeoutStartSec=5min

[Install]
WantedBy=halt.target reboot.target shutdown.target
